.u-m_auto { margin-left: auto; margin-right: auto; }

.u-mt10 { margin-top: 10px; }
.u-mt20 { margin-top: 20px; }
.u-mt30 { margin-top: 30px; }

.u-pt10 { padding-top: 10px; }
.u-pt20 { padding-top: 20px; }
.u-pt30 { padding-top: 30px; }

.u-ml10 { margin-left: 10px; }
.u-ml20 { margin-left: 20px; }
.u-ml30 { margin-left: 30px; }

.u-disabled {
	color: $bo-gray;
}

.u-w30 {width: 30px !important;}
.u-w50 {width: 50px !important;}
.u-w80 {width: 80px !important;}
.u-w100 {width: 100px !important;}
.u-w150 {width: 150px !important;}
.u-w200 {width: 200px !important;}
.u-w300 {width: 300px !important;}

.u-w25per {width: 25% !important;}
.u-w30per {width: 50% !important;}
.u-w50per {width: 50% !important;}
.u-w100per {width: 100% !important;}
.u-wauto {width: auto !important;}

.u-h100per {height: 100% !important;}
.u-hauto {height: 100% !important;}

.u-flex_column {
	display: flex;
	flex-direction: column;
}

.u-flex_row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.u-bo_l {	border-left: 1px solid $bo-gray !important;}
.u-bo_r {	border-right: 1px solid $bo-gray !important;}
.u-bo_b {	border-bottom: 1px solid $bo-gray !important;}
.u-bo_t {	border-top: 1px solid $bo-gray !important;}
