#edit-slug-box{
	display:none;
}

#preview-action {
	display: none;
}

@keyframes active-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes inactive-out {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

#cf-calendar {
	padding-top: 15px;
	background: none;
	border: none;
	
	* {
		box-sizing: border-box;
	}
	
	input::placeholder {
		color: #ddd !important;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	textarea {
		width: 100%;
	}
	
	.disabled input[disabled], 
	.disabled textarea[disabled], 
	.disabled file[disabled], 
	.disabled select[disabled] {
		display: none;
	}
	
	.sortable-handle {
		cursor: move;
		
	}
	
	.cfc-panel {
		display: none;
		animation: inactive-out .5s;
		
		&.active {
			display: block;
			animation: active-in .5s;
		}
	}
	
	.postbox-header {
		border: 1px solid #c3c4c7;
		background: #fff;
		
		.handle-actions {
			button {
				padding-left: 5px;
			}
			button.active {
				cursor: pointer;
				pointer-events: none;
			}
		}
	}
	
	
	.handle-actions {
		border-radius: 5px;
		flex-shrink: 0;
		display: flex;
		background: #eee;
		margin: 3px 4px;
		overflow: hidden;
		border: 1px solid #ddd;
		
		button {
			border: none;
			border-radius: 0;
			appearance: none;
			box-shadow: none;
			background: #2271b1;
			color: #fff;
			cursor: pointer;
			pointer-events: inherit;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: 36px;
			font-family: inherit;
			
			&:before {
				font-family: 'dashicons';
				font-size: 18px;
				margin: 0 5px;
			}
		}
		
		button.active {
			color: #2271b1;
			background: none;
		}
	}

	.inside {
		background: none;
		padding: 0;
		display: block !important;
	}


	#cfc-settings {
		padding: 0 12px 12px;
		border: 1px solid #c3c4c7;
		background: #fff;
		
		#setting-tabs {
			margin: 0 -12px;
			background: #999;
			padding: 0;
			ul{
				display: flex;
				width: 100%;
				padding: 0;
				overflow: hidden;
			}
			li {
				padding: 0 5px;
				width: 100%;
				margin: 0;
				text-align: center;
				border-left: 1px solid #ddd;
				background: #eee;
			}
		
			li:first-child {
				border-left: none;
			}
			
			li a {
				text-decoration: none;
				display: block;
				width: 100%;
				height: 36px;
				display: flex;
				justify-content: center;
				align-items: center;
				outline: none;
				box-shadow: none;
			}
			
			li.ui-state-active {
				cursor: pointer;
				pointer-events: none;
				background: #fff;
				border-bottom: none;
			}
			
			li.ui-state-active a {
				color: #333;
				font-weight: bold;
			}
		}
	}


	/* system */
	.field-col {
		width: 100%;
		display: flex;
		
	}
	
	.action-bar {
		width: 100%;
		display: flex;
		border-right: 1px solid #ccc;
		background: #2271b1;
		
		.field_label {
			background: #fff;
			width: 100%;
		}
	}
	
	
	.field_label, .field_input {
		display: block;
		padding: 5px 8px;
		position: relative;
	}
	
	.field_input[data-type="radio"],
	.field_input[data-type="checkbox"] {
		text-align: center;
	}
	
	.field_label {
		background: #eee;
	}
	
	.field_input {
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="url"],
		input[type="number"], 
		textarea, 
		select {
			display: inline-block;
		}
	}
	
	
}

@import 'custom_fields';

@import 'calendar_table';