/* line 1, _foundation.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 5, _foundation.scss */
input::-webkit-input-placeholder {
  color: #ddd !important; }
input:-ms-input-placeholder {
  color: #ddd !important; }
input::-ms-input-placeholder {
  color: #ddd !important; }
input::placeholder {
  color: #ddd !important; }

/* line 9, _foundation.scss */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%; }

/* line 17, _foundation.scss */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 4px; }

/* line 22, _foundation.scss */
label {
  margin-right: 5px; }

/* line 26, _foundation.scss */
.disabled input[disabled],
.disabled textarea[disabled],
.disabled file[disabled],
.disabled select[disabled] {
  display: none; }

/* line 34, _foundation.scss */
.postbox-header {
  border: 1px solid #ccc;
  background: #fff none repeat scroll 0% 0%; }

/* line 39, _foundation.scss */
.ui-tabs-tab.ui-tab,
.ui-tabs-nav.ui-tabs,
.ui-corner-all {
  border: none;
  border-radius: 0;
  font-size: inherit; }

/* line 47, _foundation.scss */
.ui-tooltip, .arrow:after {
  background: #333;
  border: 2px solid #333; }

/* line 52, _foundation.scss */
.ui-tooltip {
  width: auto;
  max-width: 380px;
  padding: 0;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none; }

/* line 62, _foundation.scss */
.single-value {
  width: auto;
  border-top: 1px solid #ddd;
  padding: 3px 15px;
  width: auto;
  position: relative; }

/* line 69, _foundation.scss */
.single-value:first-child {
  border: none; }

/* line 72, _foundation.scss */
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

/* line 81, _foundation.scss */
.arrow.top {
  top: -16px;
  bottom: auto; }

/* line 85, _foundation.scss */
.arrow.left {
  left: 20%; }

/* line 88, _foundation.scss */
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  /*
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  */ }

/* line 102, _foundation.scss */
.arrow.top:after {
  bottom: -20px;
  top: auto; }

/* line 2, _layout.scss */
#cf-calendar .l-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
@-webkit-keyframes active-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes active-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-webkit-keyframes inactive-out {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@keyframes inactive-out {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
/* line 36, _layout.scss */
#cf-calendar .l-panel {
  display: none;
  -webkit-animation: inactive-out .5s;
          animation: inactive-out .5s; }
  /* line 40, _layout.scss */
  #cf-calendar .l-panel.is-active {
    display: block;
    -webkit-animation: active-in .5s;
            animation: active-in .5s; }
/* line 2, _component.scss */
#cf-calendar .c-button_wrap {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  margin: 3px 4px;
  overflow: hidden;
  border: 1px solid #ccc; }
/* line 12, _component.scss */
#cf-calendar .c-button {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2271b1;
  color: #fff;
  cursor: pointer;
  pointer-events: inherit;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 36px;
  font-family: inherit;
  cursor: pointer; }
  /* line 30, _component.scss */
  #cf-calendar .c-button:before {
    font-family: "dashicons";
    font-size: 18px;
    margin: 0px 5px; }
  /* line 37, _component.scss */
  #cf-calendar .c-button.is-active {
    color: #2271b1;
    background: #eee; }
  /* line 42, _component.scss */
  #cf-calendar .c-button.have-text:before {
    margin-left: 0; }
/* line 50, _component.scss */
#cf-calendar .postbox-header .c-button.is-active {
  cursor: inherit; }
/* line 60, _component.scss */
#cf-calendar .c-fieldset {
  background: #fff;
  border-left: 1px solid #ccc; }
  /* line 64, _component.scss */
  #cf-calendar .c-fieldset h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 1rem;
    margin: 0;
    background: #2271b1;
    color: #fff;
    cursor: move;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 78, _component.scss */
    #cf-calendar .c-fieldset h3 span {
      width: 100%;
      display: block;
      text-align: left; }
  /* line 85, _component.scss */
  #cf-calendar .c-fieldset .c-button_wrap {
    border-radius: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    margin: 3px 4px;
    overflow: hidden;
    border: 1px solid #ccc; }
  /* line 95, _component.scss */
  #cf-calendar .c-fieldset .c-button {
    margin: 0;
    width: 48px;
    height: 28px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    background: none; }
/* line 108, _component.scss */
#cf-calendar .c-field {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 114, _component.scss */
  #cf-calendar .c-field .c-field_label {
    width: 25%;
    padding: 8px 15px;
    background: #fafafa;
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold; }
  /* line 124, _component.scss */
  #cf-calendar .c-field .c-field_input {
    width: 75%;
    padding: 15px;
    display: block; }
/* line 132, _component.scss */
#cf-calendar .c-fieldset_wrap .c-fieldset {
  border-left: 3px solid #2271b1; }
/* line 139, _component.scss */
#cf-calendar .postbox-header .c-button:before {
  pointer-events: none; }
/* line 1, _utility.scss */
#cf-calendar .u-m_auto {
  margin-left: auto;
  margin-right: auto; }
/* line 3, _utility.scss */
#cf-calendar .u-mt10 {
  margin-top: 10px; }
/* line 4, _utility.scss */
#cf-calendar .u-mt20 {
  margin-top: 20px; }
/* line 5, _utility.scss */
#cf-calendar .u-mt30 {
  margin-top: 30px; }
/* line 7, _utility.scss */
#cf-calendar .u-pt10 {
  padding-top: 10px; }
/* line 8, _utility.scss */
#cf-calendar .u-pt20 {
  padding-top: 20px; }
/* line 9, _utility.scss */
#cf-calendar .u-pt30 {
  padding-top: 30px; }
/* line 11, _utility.scss */
#cf-calendar .u-ml10 {
  margin-left: 10px; }
/* line 12, _utility.scss */
#cf-calendar .u-ml20 {
  margin-left: 20px; }
/* line 13, _utility.scss */
#cf-calendar .u-ml30 {
  margin-left: 30px; }
/* line 15, _utility.scss */
#cf-calendar .u-disabled {
  color: #ccc; }
/* line 5, project/_table.scss */
#cf-calendar .p-table_wrap table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 1px 0;
  background: #fff; }
/* line 13, project/_table.scss */
#cf-calendar .p-table_wrap caption {
  padding: 3px 0;
  font-weight: bold;
  font-size: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 2px solid #333;
  margin: 0 0 3px 0; }
/* line 23, project/_table.scss */
#cf-calendar .p-table_wrap thead {
  background: #fafafa; }
/* line 26, project/_table.scss */
#cf-calendar .p-table_wrap th {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: .8rem;
  text-align: center; }
/* line 33, project/_table.scss */
#cf-calendar .p-table_wrap th:nth-of-type(6) {
  background: #ddf; }
/* line 37, project/_table.scss */
#cf-calendar .p-table_wrap th:nth-of-type(7) {
  background: #fdd; }
/* line 42, project/_table.scss */
#cf-calendar .p-table_wrap td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 0;
  width: calc(100% / 7); }
  /* line 49, project/_table.scss */
  #cf-calendar .p-table_wrap td span.disabled {
    display: block;
    height: 100%;
    min-height: 45px;
    width: 100%; }
  /* line 59, project/_table.scss */
  #cf-calendar .p-table_wrap td .u-anc {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 100%;
    min-height: 45px;
    width: 100%;
    padding: 8px;
    border: 3px solid #fff; }
    /* line 71, project/_table.scss */
    #cf-calendar .p-table_wrap td .u-anc:hover, #cf-calendar .p-table_wrap td .u-anc.is-selected {
      border-color: rgba(34, 112, 176, 0.05);
      background: rgba(34, 112, 176, 0.05); }
    /* line 76, project/_table.scss */
    #cf-calendar .p-table_wrap td .u-anc:focus, #cf-calendar .p-table_wrap td .u-anc.is-active {
      outline: 0;
      border-color: #2271b1;
      background: rgba(34, 112, 176, 0.05); }
    /* line 83, project/_table.scss */
    #cf-calendar .p-table_wrap td .u-anc time {
      display: block;
      text-align: center; }
  /* line 89, project/_table.scss */
  #cf-calendar .p-table_wrap td.is-active a {
    outline: 0;
    border-color: #2271b1;
    background: rgba(34, 112, 176, 0.05); }
  /* line 97, project/_table.scss */
  #cf-calendar .p-table_wrap td.have-data time {
    display: block;
    position: relative; }
    /* line 101, project/_table.scss */
    #cf-calendar .p-table_wrap td.have-data time:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: rgba(204, 0, 0, 0.8);
      border-radius: 4px;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 10; }
/* line 121, project/_table.scss */
#cf-calendar .p-table_wrap .tooltip-content {
  display: none; }
/* line 126, project/_table.scss */
#cf-calendar .p-table--inside_wrap {
  width: 100%; }
  /* line 129, project/_table.scss */
  #cf-calendar .p-table--inside_wrap input[type="text"],
  #cf-calendar .p-table--inside_wrap input[type="email"],
  #cf-calendar .p-table--inside_wrap input[type="url"],
  #cf-calendar .p-table--inside_wrap textarea,
  #cf-calendar .p-table--inside_wrap select {
    width: 100%; }
  /* line 137, project/_table.scss */
  #cf-calendar .p-table--inside_wrap .c-fieldset {
    border: none; }
    /* line 140, project/_table.scss */
    #cf-calendar .p-table--inside_wrap .c-fieldset h3 {
      display: none; }
    /* line 144, project/_table.scss */
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border: none;
      margin-bottom: 8px; }
    /* line 150, project/_table.scss */
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field_label {
      width: 100%;
      font-size: .8rem;
      padding: 3px 2px;
      border: none;
      border-bottom: 1px solid #ccc;
      background: #fff; }
    /* line 159, project/_table.scss */
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field_input {
      width: 100%;
      font-size: .8rem;
      padding: 3px 2px;
      border: none; }
  /* line 166, project/_table.scss */
  #cf-calendar .p-table--inside_wrap td {
    position: relative; }
    /* line 169, project/_table.scss */
    #cf-calendar .p-table--inside_wrap td .u-anc {
      padding: 2px; }
      /* line 172, project/_table.scss */
      #cf-calendar .p-table--inside_wrap td .u-anc time {
        display: block;
        padding: 3px 0; }
    /* line 179, project/_table.scss */
    #cf-calendar .p-table--inside_wrap td.today .u-anc {
      font-weight: bold; }
/* line 189, project/_table.scss */
#cf-calendar .p-table--outside_wrap .c-fieldset {
  display: none; }
/* line 196, project/_table.scss */
#cf-calendar .p-table--outside_wrap td.today .u-anc {
  font-weight: bold; }
/* line 205, project/_table.scss */
#cf-calendar .p-table--outside_wrap td.have-data time:after {
  top: -5px;
  right: -5px;
  z-index: 10; }
/* line 217, project/_table.scss */
#cf-calendar .p-field_wrap {
  margin-left: 20px;
  width: 100%; }
  /* line 222, project/_table.scss */
  #cf-calendar .p-field_wrap .c-fieldset {
    margin-bottom: 15px; }
    /* line 226, project/_table.scss */
    #cf-calendar .p-field_wrap .c-fieldset .close-fieldset {
      display: none; }
      /* line 229, project/_table.scss */
      #cf-calendar .p-field_wrap .c-fieldset .close-fieldset.is-active {
        color: #fff;
        display: block;
        cursor: pointer; }
      /* line 234, project/_table.scss */
      #cf-calendar .p-field_wrap .c-fieldset .close-fieldset::before {
        content: "\f14f"; }
    /* line 238, project/_table.scss */
    #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset {
      background: #2271b1; }
      /* line 241, project/_table.scss */
      #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset.is-active {
        background: #eee;
        color: #2271b1; }
      /* line 246, project/_table.scss */
      #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset::before {
        content: "\f537"; }
/* line 255, project/_table.scss */
#cf-calendar #fields-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 40px; }
/* line 260, project/_table.scss */
#cf-calendar .btn-add-field {
  text-align: right; }
/* line 1, project/_settings.scss */
#cf-calendar #cfc-settings {
  padding: 0 12px 12px;
  border: 1px solid #c3c4c7;
  background: #fff; }
  /* line 6, project/_settings.scss */
  #cf-calendar #cfc-settings #setting-tabs {
    margin: 0 -12px;
    background: #999;
    padding: 0; }
    /* line 10, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 0;
      overflow: hidden; }
    /* line 16, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs li {
      padding: 0 5px;
      width: 100%;
      margin: 0;
      text-align: center;
      border-left: 1px solid #ddd;
      background: #eee; }
    /* line 25, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs li:first-child {
      border-left: none; }
    /* line 29, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs li a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    /* line 41, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs li.ui-state-active {
      cursor: pointer;
      pointer-events: none;
      background: #fff;
      border-bottom: none; }
    /* line 48, project/_settings.scss */
    #cf-calendar #cfc-settings #setting-tabs li.ui-state-active a {
      color: #333;
      font-weight: bold; }
/* line 56, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .c-fieldset {
  border-top: 2px solid #ccc;
  width: 100%;
  margin-bottom: 20px; }
/* line 64, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .o-headline .c-field {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
/* line 70, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .o-headline .c-field_label {
  border-right: none;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 12px;
  width: 100%; }
/* line 79, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .c-field_order, #cf-calendar .p-custom-fields_tab .c-field__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
/* line 86, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .c-field_order {
  background: #2271b1;
  color: #fff;
  font-weight: bold;
  width: 55px !important;
  min-width: 55px !important; }
  /* line 93, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .c-field_order span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 24px;
    font-size: 16px; }
/* line 106, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .c-field_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: 1px solid #ddd;
  border-left: none;
  position: relative; }
  /* line 114, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .c-field_action .remove-item {
    position: absolute;
    top: 8px; }
  /* line 119, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .c-field_action button {
    margin: 0 3px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: none;
    color: #2271b1;
    cursor: pointer;
    font-family: dashicons;
    font-size: 18px;
    font-style: normal; }
/* line 136, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .remove-item:before {
  content: "\f14f"; }
/* line 143, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .toggle-details:before {
  content: "\f347"; }
/* line 147, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .toggle-details.active:before {
  content: "\f343"; }
/* line 152, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .o-wrap_details {
  display: none; }
  /* line 154, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .o-wrap_details .u-disabled {
    display: none; }
/* line 159, project/_settings.scss */
#cf-calendar .p-custom-fields_tab .field-conditions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 162, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .field-conditions .c-field_label {
    width: 100%;
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid #ccc; }
  /* line 169, project/_settings.scss */
  #cf-calendar .p-custom-fields_tab .field-conditions .c-field_input {
    width: 100%;
    text-align: center; }

/*# sourceMappingURL=cfc.css.map */