
#cf-calendar {
		
	.cfc-panel {
		display: none;
		
		&.active {
			display: block;
		}
	}
}


#custom-fields{
	
}
	
#custom-fields-setting {
	
/*

	.__list_head {
		width: 100%;
		padding: 0;
		display: flex;
		align-content: center;
		justify-content: center;
		
		li {
			padding: 5px 8px;
			border: 1px solid #ccc;
			text-align: center;
			width: 100%;
		}
		
		li:nth-child(n+2){
			border-left: none;
		}
		
		.__list_action {
			* {
				display: none;
			}
			
		}
	}
*/
	
	#cfc-custom-field-list{
/*
		&:before {
			content: 'アイテムがありません';
			position: absolute;
			z-index: 0;
		}
*/
	}
	
	.__item {
		margin-top: 1px;
		border-top: 2px solid #333;
		width: 100%;
		display: flex;
		align-content: center;
		
		justify-content: flex-start;
		
		position: relative;
		z-index: 1;
		
		&:first-child {
			.remove-item {
				button {
					display: none !important;
				}
			}
		}
	}
	
	.__item_field_wrap {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
	}
	
	.__item_field_wrap_top {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
		
	
		.__item_field {
			width:  calc((100% - 100px) / 4 + 1px);
			border: 1px solid #ddd;
			margin-left: -1px;
		}
		
		.__item_field.field-type.no-choice {
			width: calc(((100% - 100px) / 4 + 1px) * 2);
		}
	}
	
	.__item_field_wrap_bottom {
		border-left: 5px solid #2271b1;
		width: 100%;
	}
	
	.__item_label {
	}
	
	.__item_field {
		width:  100%;
		border: 1px solid #ddd;
		margin-left: -1px;
	}
	
	.__item_field.field-choices.disabled{
		display: none;
	}
	
	.__list_order, .__list_action {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
	}
	
	.__list_order {
		background: #2271b1;
		color: #fff;
		font-weight: bold;
		width: 55px !important;
		min-width: 55px !important;
		
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border: 2px solid #fff;
			border-radius: 50%;
			line-height: 24px;
			font-size: 16px;
		}
	}
	
	.__list_action {
		display: flex;
		flex-direction: column;
		justify-content: end;
		border: 1px solid #ddd;
		border-left: none;
		
		button {
			margin: 0 3px;
			width: 28px;
			height: 28px;
			border: none;
			border-radius: 50%;
			background: none;
			color: #2271b1;
			cursor: pointer;
				font-family: dashicons;
				font-size: 18px;
				font-style: normal;
		}
		
		.btn-wrap {
			margin: 5px;
		}
		
		.btn-wrap.remove-item {
			button:before {
				content: "\f14f";
			}
		}
		//トグルボタン
		.btn-wrap.toggle-details {
			button {
// 				background: #2271b1;
// 				color: #fff;
				
				&:before {
					content: "\f347";
				}
				
				&.active:before {
					content: "\f343";
				}
			}
		}
	}
	
	//条件追加ボタン
	.btn-wrap.add-condition {
		margin: 15px;
		text-align: center;
	}
	//フィールド追加
	.btn-wrap.add-field {
		margin: 15px;
		text-align: right;
	}
	
	.__item_field_wrap_bottom {
		display: none;
	}
	
}