* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.cfc-loading .button {
  opacity: .2;
  pointer-events: none; }

input::-webkit-input-placeholder {
  color: #ddd !important; }

input:-ms-input-placeholder {
  color: #ddd !important; }

input::-ms-input-placeholder {
  color: #ddd !important; }

input::placeholder {
  color: #ddd !important; }

dl {
  padding: 0;
  margin: 0; }

dd {
  margin-left: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  margin-right: 4px; }

label {
  margin-right: 5px; }

.disabled input[disabled],
.disabled textarea[disabled],
.disabled file[disabled],
.disabled select[disabled] {
  display: none; }

.postbox-header {
  border: 1px solid #ccc;
  background: #fff none repeat scroll 0% 0%; }

.ui-tabs-nav {
  margin: 0; }

.ui-tabs-tab.ui-tab,
.ui-tabs-nav.ui-tabs,
.ui-corner-all {
  border: none;
  border-radius: 0;
  font-size: inherit; }

.ui-tooltip, .arrow:after {
  background: #333;
  border: 2px solid #333; }

.ui-tooltip {
  width: auto;
  max-width: 380px;
  padding: 0;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 10;
  opacity: 1; }

.single-value {
  width: auto;
  border-top: 1px solid #ddd;
  padding: 3px 15px;
  width: auto;
  position: relative; }

.single-value:first-child {
  border: none; }

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

.arrow.top {
  top: -16px;
  bottom: auto; }

.arrow.left {
  left: 20%; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  /*
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  */ }

.arrow.top:after {
  bottom: -20px;
  top: auto; }

/*
.datepicker:after {
	content: "\f508";
	font-family: 'Dashicon';
	position: absolute;
	right: -10px;
}
*/
.ui-datepicker-trigger {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin-left: 3px; }
  .ui-datepicker-trigger:before {
    font-family: dashicons !important;
    content: "\f508";
    font-size: 21px;
    color: #2271b1; }

#cf-calendar .l-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
@-webkit-keyframes active-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes active-in {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-webkit-keyframes inactive-out {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
@keyframes inactive-out {
  0% {
    display: block;
    opacity: 1; }
  99% {
    display: block;
    opacity: 0; }
  100% {
    display: none;
    opacity: 0; } }
#cf-calendar .l-panel {
  display: none;
  -webkit-animation: inactive-out .5s;
          animation: inactive-out .5s; }
  #cf-calendar .l-panel.is-active {
    display: block;
    -webkit-animation: active-in .5s;
            animation: active-in .5s; }
#cf-calendar .c-button_wrap {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  margin: 3px 4px;
  overflow: hidden;
  border: 1px solid #ccc; }
#cf-calendar .c-button {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2271b1;
  color: #fff;
  cursor: pointer;
  pointer-events: inherit;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 36px;
  font-family: inherit;
  cursor: pointer; }
  #cf-calendar .c-button:before {
    font-family: "dashicons";
    font-size: 18px;
    margin: 0px 5px; }
  #cf-calendar .c-button.is-active {
    color: #2271b1;
    background: #eee; }
  #cf-calendar .c-button.have-text:before {
    margin-left: 0; }
#cf-calendar .postbox-header .c-button.is-active {
  cursor: inherit; }
#cf-calendar .c-fieldset {
  background: #fff;
  border-left: 1px solid #ccc; }
  #cf-calendar .c-fieldset h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 1rem;
    margin: 0;
    background: #2271b1;
    color: #fff;
    cursor: move;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #cf-calendar .c-fieldset h3 span {
      width: 100%;
      display: block;
      text-align: left; }
  #cf-calendar .c-fieldset .c-button_wrap {
    border-radius: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    margin: 3px 4px;
    overflow: hidden;
    border: 1px solid #ccc; }
  #cf-calendar .c-fieldset .c-button {
    margin: 0;
    width: 48px;
    height: 28px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    background: none; }
  #cf-calendar .c-fieldset button {
    margin: 0 3px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: none;
    color: #2271b1;
    cursor: pointer;
    font-family: dashicons;
    font-size: 18px;
    font-style: normal; }
  #cf-calendar .c-fieldset .remove-item:before {
    content: "\f14f"; }
  #cf-calendar .c-fieldset .remove-item[disabled] {
    visibility: hidden; }
  #cf-calendar .c-fieldset .toggle-details:before {
    content: "\f347"; }
  #cf-calendar .c-fieldset .toggle-details.active:before {
    content: "\f343"; }
#cf-calendar .c-field {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #cf-calendar .c-field .c-field_label {
    width: 25%;
    padding: 25px 15px;
    background: #fafafa;
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold; }
  #cf-calendar .c-field .c-field_label:nth-child(n+2) {
    border-left: 1px solid #ccc; }
  #cf-calendar .c-field .c-field_input {
    width: 75%;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px; }
    #cf-calendar .c-field .c-field_input.c-field_input-short {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    #cf-calendar .c-field .c-field_input span {
      white-space: nowrap; }
    #cf-calendar .c-field .c-field_input .c-field {
      border: none;
      width: 100%; }
      #cf-calendar .c-field .c-field_input .c-field .c-field_label {
        white-space: nowrap;
        border: none;
        padding: 5px 8px;
        min-height: 50px; }
      #cf-calendar .c-field .c-field_input .c-field .c-field_input {
        width: 100%;
        min-height: 50px;
        border: none;
        padding: 5px 8px; }
#cf-calendar .c-fieldset_wrap .c-fieldset {
  border-left: 3px solid #2271b1; }
#cf-calendar .c-field__inline .c-field_input {
  display: block;
  text-align: left; }
  #cf-calendar .c-field__inline .c-field_input label {
    text-align: left;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px; }
#cf-calendar .postbox-header .c-button:before {
  pointer-events: none; }
#cf-calendar .u-m_auto {
  margin-left: auto;
  margin-right: auto; }
#cf-calendar .u-mt10 {
  margin-top: 10px; }
#cf-calendar .u-mt20 {
  margin-top: 20px; }
#cf-calendar .u-mt30 {
  margin-top: 30px; }
#cf-calendar .u-pt10 {
  padding-top: 10px; }
#cf-calendar .u-pt20 {
  padding-top: 20px; }
#cf-calendar .u-pt30 {
  padding-top: 30px; }
#cf-calendar .u-ml10 {
  margin-left: 10px; }
#cf-calendar .u-ml20 {
  margin-left: 20px; }
#cf-calendar .u-ml30 {
  margin-left: 30px; }
#cf-calendar .u-disabled {
  color: #ccc; }
#cf-calendar .u-w30 {
  width: 30px !important; }
#cf-calendar .u-w50 {
  width: 50px !important; }
#cf-calendar .u-w80 {
  width: 80px !important; }
#cf-calendar .u-w100 {
  width: 100px !important; }
#cf-calendar .u-w150 {
  width: 150px !important; }
#cf-calendar .u-w200 {
  width: 200px !important; }
#cf-calendar .u-w300 {
  width: 300px !important; }
#cf-calendar .u-w25per {
  width: 25% !important; }
#cf-calendar .u-w30per {
  width: 50% !important; }
#cf-calendar .u-w50per {
  width: 50% !important; }
#cf-calendar .u-w100per {
  width: 100% !important; }
#cf-calendar .u-wauto {
  width: auto !important; }
#cf-calendar .u-h100per {
  height: 100% !important; }
#cf-calendar .u-hauto {
  height: 100% !important; }
#cf-calendar .u-flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
#cf-calendar .u-flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
#cf-calendar .u-bo_l {
  border-left: 1px solid #ccc !important; }
#cf-calendar .u-bo_r {
  border-right: 1px solid #ccc !important; }
#cf-calendar .u-bo_b {
  border-bottom: 1px solid #ccc !important; }
#cf-calendar .u-bo_t {
  border-top: 1px solid #ccc !important; }
#cf-calendar .p-table_wrap table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 1px 0;
  background: #fff; }
  #cf-calendar .p-table_wrap table.p-table {
    margin-bottom: 20px; }
#cf-calendar .p-table_wrap caption {
  padding: 3px 0;
  font-weight: bold;
  font-size: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 2px solid #333;
  margin: 0 0 3px 0; }
#cf-calendar .p-table_wrap thead {
  background: #fafafa; }
#cf-calendar .p-table_wrap th {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: .8rem;
  text-align: center; }
#cf-calendar .p-table_wrap th:nth-of-type(6) {
  background: #ddf; }
#cf-calendar .p-table_wrap th:nth-of-type(7) {
  background: #fdd; }
#cf-calendar .p-table_wrap td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 0;
  width: calc(100% / 7); }
  #cf-calendar .p-table_wrap td span.disabled {
    display: block;
    height: 100%;
    min-height: 45px;
    width: 100%; }
  #cf-calendar .p-table_wrap td .u-anc {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 100%;
    min-height: 45px;
    width: 100%;
    padding: 8px;
    border: 3px solid #fff; }
    #cf-calendar .p-table_wrap td .u-anc:hover, #cf-calendar .p-table_wrap td .u-anc.is-selected {
      border-color: rgba(34, 112, 176, 0.05);
      background: rgba(34, 112, 176, 0.05); }
    #cf-calendar .p-table_wrap td .u-anc:focus, #cf-calendar .p-table_wrap td .u-anc.is-active {
      outline: 0;
      border-color: #2271b1;
      background: rgba(34, 112, 176, 0.05); }
    #cf-calendar .p-table_wrap td .u-anc time {
      display: block;
      text-align: center; }
  #cf-calendar .p-table_wrap td.is-active a {
    outline: 0;
    border-color: #2271b1;
    background: rgba(34, 112, 176, 0.05); }
  #cf-calendar .p-table_wrap td.have-data time {
    display: block;
    position: relative; }
    #cf-calendar .p-table_wrap td.have-data time:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background: rgba(204, 0, 0, 0.8);
      border-radius: 4px;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1; }
#cf-calendar .p-table_wrap .tooltip-content {
  display: none; }
#cf-calendar .p-table--inside_wrap {
  width: 100%; }
  #cf-calendar .p-table--inside_wrap input[type="text"],
  #cf-calendar .p-table--inside_wrap input[type="email"],
  #cf-calendar .p-table--inside_wrap input[type="url"],
  #cf-calendar .p-table--inside_wrap textarea,
  #cf-calendar .p-table--inside_wrap select {
    width: 100%; }
  #cf-calendar .p-table--inside_wrap .c-fieldset {
    border: none; }
    #cf-calendar .p-table--inside_wrap .c-fieldset h3 {
      display: none; }
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border: none;
      margin-bottom: 8px; }
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field_label {
      width: 100%;
      font-size: .8rem;
      padding: 3px 2px;
      border: none;
      border-bottom: 1px solid #ccc;
      background: #fff; }
    #cf-calendar .p-table--inside_wrap .c-fieldset .c-field_input {
      width: 100%;
      font-size: .8rem;
      padding: 3px 2px;
      border: none; }
  #cf-calendar .p-table--inside_wrap td {
    position: relative; }
    #cf-calendar .p-table--inside_wrap td .u-anc {
      padding: 2px; }
      #cf-calendar .p-table--inside_wrap td .u-anc time {
        display: block;
        padding: 3px 0; }
    #cf-calendar .p-table--inside_wrap td.today .u-anc {
      font-weight: bold; }
#cf-calendar .p-table--outside_wrap .c-fieldset {
  display: none; }
#cf-calendar .p-table--outside_wrap td.today .u-anc {
  font-weight: bold; }
#cf-calendar .p-table--outside_wrap td.have-data time:after {
  top: -5px;
  right: -5px;
  z-index: 10; }
#cf-calendar .p-field_wrap {
  margin-left: 20px;
  width: 100%; }
  #cf-calendar .p-field_wrap .c-fieldset {
    margin-bottom: 15px; }
    #cf-calendar .p-field_wrap .c-fieldset .close-fieldset {
      display: none; }
      #cf-calendar .p-field_wrap .c-fieldset .close-fieldset.is-active {
        color: #fff;
        display: block;
        cursor: pointer; }
      #cf-calendar .p-field_wrap .c-fieldset .close-fieldset::before {
        content: "\f14f"; }
    #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset {
      background: #2271b1; }
      #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset.is-active {
        background: #eee;
        color: #2271b1; }
      #cf-calendar .p-field_wrap .c-fieldset .stick-fieldset::before {
        content: "\f537"; }
#cf-calendar #fields-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 40px; }
#cf-calendar .btn-add-field {
  text-align: right; }
#cf-calendar .cfc-holiday {
  color: #e96c6c; }
#cf-calendar .cfc-schedule-label {
  min-height: 1.2rem; }
#cf-calendar .post-type-cf-calendar #cfc-settings {
  padding: 0 12px 12px;
  border: 1px solid #c3c4c7;
  background: #fff; }
#cf-calendar #cfc-settings {
  padding: 0; }
  #cf-calendar #cfc-settings .c-fieldset {
    border-top: 2px solid #ccc;
    width: 100%;
    margin-bottom: 20px; }
  #cf-calendar #cfc-settings #setting-tabs {
    margin: 0;
    background: #999;
    padding: 0; }
    #cf-calendar #cfc-settings #setting-tabs ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 0;
      overflow: hidden; }
    #cf-calendar #cfc-settings #setting-tabs li {
      padding: 0 5px;
      width: 100%;
      margin: 0;
      text-align: center;
      border-left: 1px solid #ddd;
      background: #eee; }
    #cf-calendar #cfc-settings #setting-tabs li:first-child {
      border-left: none; }
    #cf-calendar #cfc-settings #setting-tabs li a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 36px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    #cf-calendar #cfc-settings #setting-tabs li.ui-state-active {
      cursor: pointer;
      pointer-events: none;
      background: #fff;
      border-bottom: none; }
    #cf-calendar #cfc-settings #setting-tabs li.ui-state-active a {
      color: #333;
      font-weight: bold; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .o-headline .c-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .o-headline .c-field_label {
    border-right: none;
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 12px;
    width: 100%; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_order, #cf-calendar #cfc-settings .p-custom-fields_tab .c-field__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_order {
    background: #2271b1;
    color: #fff;
    font-weight: bold;
    width: 55px !important;
    min-width: 55px !important; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_order span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 24px;
      height: 24px;
      border: 2px solid #fff;
      border-radius: 50%;
      line-height: 24px;
      font-size: 16px; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    border: 1px solid #ddd;
    border-left: none;
    position: relative;
    top: 0;
    min-width: 38px; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_action .remove-item {
      position: absolute;
      top: 8px; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .o-wrap_details {
    display: none; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .o-wrap_details .u-disabled {
      display: none; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-fieldset {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border: 0;
    margin: 0; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_label {
    width: 100%;
    text-align: center;
    border-right: 0;
    border-bottom: 1px solid #ccc; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input {
    width: 100%;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input .c-fieldset {
      margin-top: 15px;
      border-top: none; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input .c-field_label {
      padding: 3px initial8px;
      background: none; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input .c-field_input {
      padding: 0 8px; }
      #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input .c-field_input .c-field_label {
        min-height: auto; }
    #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_input .c-field_action {
      border: none; }
  #cf-calendar #cfc-settings .p-custom-fields_tab .c-field_conditions .c-field_add_condition {
    text-align: center;
    padding-bottom: 20px; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .cfc-terms-absolute {
    display: none; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .cfc-terms-relative {
    display: none; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .is-absolute .cfc-terms-absolute {
    display: block; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .is-absolute .cfc-terms-relative {
    display: none; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .is-relative .cfc-terms-absolute {
    display: none; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term .is-relative .cfc-terms-relative {
    display: block; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term dl {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term dt {
    padding-right: 10px;
    border-right: 1px solid #ccc; }
  #cf-calendar #cfc-settings .p-calender-term_tab .cfc-calendar-term dd {
    padding-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }
  #cf-calendar #cfc-settings .p-front-view_tab .cfc-monthly .only-weekly {
    display: none; }
  #cf-calendar #cfc-settings .p-schedule_tab .c-field_order {
    background: #2271b1;
    color: #fff;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #cf-calendar #cfc-settings .p-schedule_tab .c-field_postid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #cf-calendar #cfc-settings #schedule-settings {
    /*
    .edit-post {
    	.c-field_postid {
    		display: none;
    	}
    }
    */ }
    #cf-calendar #cfc-settings #schedule-settings .c-field_label {
      padding: 10px 15px; }

/*# sourceMappingURL=cfc.css.map */